@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");


* {
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.main-class {
  text-align: center;
  background-image: url("/world.png");
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

