/* CustomCard.module.css */
.cardContainer {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Custom shadow for the card */
  }
  
  .cardContainer:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Shadow on hover */
  }
  
  .imageContainer {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Custom shadow for the image container */
  }
  
  .image {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Custom shadow for the image */
  }
  
  .title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24.55px;
    color: #6E7491;
    
   
  }
  
  .price {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24.55px;
    color: #6E7491;
  }
  .desc{
    color: #7C8DB0 ;
    margin-top: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.82px
    ;
  }