/* styles/search.css */
.search-home {
  padding: 4px; /* Smaller padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  border-radius: 8px; /* Optional: adds rounded corners */
  background-color: white; /* Ensure background color is set */
}

/* Container for the input/select and its corresponding icon */
.input-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 4px; /* Reduced margin */
}

/* Image icon styles */
.input-icon {
  margin-right: 4px; /* Adjusted margin */
  width: 30px; /* Icon size */
  height: 30px; /* Icon size */
}

/* Styles for the separator between input fields */
.separator {
  width: 1px;
  height: 24px; /* Smaller height */
  background-color: #ddd;
  margin: 0 4px; /* Reduced margin */
}

/* Styles for the search button */
.search-btn {
  background-color: #605dec; /* Your chosen color */
  color: white;
  padding: 12px 24px; /* Smaller padding */
  border: none;
  cursor: pointer;
  font-size: 12px; /* Smaller font size */
  border-radius: 4px; /* Optional: adds rounded corners */
}

.search-btn:hover {
  background-color: #4842cc; /* Darker shade of your chosen color */
}

/* Custom styles for dropdown menus */
.select-field {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none; /* Removed border */
  border-radius: 4px; /* Optional: adds rounded corners */
  padding: 8px;
  font-size: 14px; /* Adjust font size as needed */
  width: 150px; /* Adjusted width */
}

/* Menu List */
.menu-list {
  width: 150px; /* Adjusted width */
  box-shadow: none;
  border: none !important; /* Ensure no border */
  background-color: white; /* Background color for options */
}

/* Menu Items */
.menu-item {
  background-color: white !important; /* White background for menu items */
  border: none !important; /* Remove border */
  box-shadow: none;
  padding: 8px;
  font-size: 14px; /* Adjust font size as needed */
}

/* Menu Item on focus */
.menu-item:hover, .menu-item:focus {
  background-color: #605dec !important; /* Purple blue on focus */
  color: white;
}

/* Ensure the Select component and its placeholder are properly aligned */
.react-select__input-container {
  padding: 0;
}

.react-select__placeholder {
  color: #7c8db0; /* Placeholder color */
}
