.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 450px;
  max-width: 90%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none !important;
  border: none;
  font-size: 18px;
  color: #6e7491;

  cursor: pointer;
}

.modal form {
  display: flex;
  flex-direction: column;
}
.sign-form-title {
  color: #6e7491;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.sign-form-desc {
  color: #6e7491;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24.55px;
}
.sign-form-check {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #6e7491;
  line-height: 21.82px;
}
.modal input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Create-account-btn {
  padding: 10px;
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #605dec;
}
.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #6e7491;
}

.hr-line {
  border: none;
  border-top: 1px solid #6e7491;
  flex: 1;
  color: #6e7491;
  margin: 0 10px;
}

.hr-text {
  padding: 0 1px;
  white-space: nowrap;
}

.social-media-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #605dec;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fafafa;
  width: 100%;
  margin: 2px;
}

.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.btn-text {
  flex: 1;
  text-align: center;
}
